body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: 000;
  font-style: 16px;
  line-height: 1.5em;
  background: linear-gradient(45deg, #e6e9f0, #eef1f5);
  padding-bottom: 50px;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

.sP {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.fix {
  position: fixed;
  top: 0px;
  right: 0px;
  font-style: 24px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
}

.products .sP .box img {
  width: 80px;
}

.products .sP {
  margin-bottom: 30px;
}

.box div {
  margin-bottom: 10px;
}

.btn {
  background: #f13c73;
  border-radius: 15px;
  display: inline;
  padding: 5px 30px;
}

.btn:hover {
  background: #4d709f;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.headImg1 {
  background: url(../img/img1.png);
}

.headImg2 {
  background-image: url(../img/img2.png);
}

.headImgs {
  height: 200px;
  padding: 50px;
  margin-bottom: 50px;
  color: #03346b;
  font-size: 18px;
}

.headImgs h1 {
  color: #10037e;
}

.num {
  list-style-type: decimal;
}

.mark {
  background: #4d719fc4;
  padding: 20px 3px;
  border: 1px dashed #000;
}

.mark:hover {
  background: #ffec82;
  padding: 20px 3px;
  border: 1px dashed #333;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.popupBody {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popupContent {
  background-color: #4d709f;
  color: rgba(255, 255, 255, 0.9);
  max-width: 800px;
  padding: 30px;
  position: relative;
  border-radius: 25px;
  display: none;
}

.popupClose {
  position: absolute;
  right: 10px;
  top: 10px;
}

.popupTitle {
  font-size: 30px;
  margin: 0px 0px 1em 0px;
}

input {
  border: none;
  outline: none;
  padding: 3px 10px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  color: rgba(255, 255, 255);
}

.sbmt {
  padding: 5px 15px;
  background-color: #022b6167;
}

.sbmt:hover {
  background-color: #022b61;
}

form {
  padding: 0 30px;
}

/* ********************** */

@media screen and (max-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .sP {
    display: block;
  }

  .box {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 90%;
    padding: 0 5px;
    font-size: 12px;
  }

  .sP {
    display: block;
  }

  .box {
    margin-bottom: 30px;
  }
}
